%table.table
  %thead
    %tr
      %th{scope: "col"} Person
      %th{scope: "col"} Session
      %th{scope: "col"} State
      %th{scope: "col"} Actions
  %tbody
    - @records.each do |record|
      %tr
        %td= record.person
        %td= record.event_session
        %td= record.aasm_state
        %td
          - if record.unavailable?
            = link_to "Mark available", { action: :mark_available, id: record.id }, method: :put
          = delete_link(record)
