= simple_form_for [:admin, record] do |f|
  = form_errors(f)

  = f.association :event
  = f.input :start_at
  = f.input :duration_minutes
  = f.association :location
  = f.association :facilitators

  = form_actions(f)
