= simple_form_for [:admin, record] do |f|
  = form_errors(f)

  = f.association :inviter
  = f.association :invitee
  = f.input :message, placeholder: "Hi, this is the Panga workshop we were talking about the other day. I think you should check it out because..."

  = form_actions(f)
