= simple_form_for [:admin, invitation] do |f|
  - if invitation.errors.any?
    - invitation.errors.full_messages.each do |message|
      .alert.alert-danger{:role => "alert"}
        = message

  = f.association :inviter
  = f.association :invitee

  .form-actions
    = link_to "Cancel", admin_invitations_path, class: 'btn btn-secondary float-start'
    = f.submit (invitation.persisted? ? "Save" : "Create"), class: "btn btn-primary float-end"
