%table.table
  %thead
    %tr
      %th{scope: "col"} Inviter
      %th{scope: "col"} Invitee
      %th{scope: "col"} Invite link
      %th{scope: "col"} Accessibility
      %th{scope: "col"} State
      %th{scope: "col"} Actions
  %tbody
    - @records.each do |record|
      %tr
        %td= record.inviter.short_name
        %td= record.invitee.short_name
        %td
          = link_to invitation_url(record.token), invitation_path(record.token), id: "copy-#{record.id}"
          = link_to '#', onclick: "navigator.clipboard.writeText('#{invitation_url(record.token)}'); return false;" do
            (copy)
        %td= record.workshop_accessibility_needs
        %td= record.aasm_state
        %td
          = edit_link(record)
          = link_to("Reset", reset_admin_invitation_path(record), method: :put, data: {confirm: "This will set the #{record.invitee.short_name} back to the start of the invitation flow. Are you sure?"})
