- if user.errors.any?
  - user.errors.full_messages.each do |message|
    .alert.alert-danger{:role => "alert"}
      = message
= form_with(model: [:admin, user], local: true) do |form|
  .card
    %h5.card-header User
    %ul.list-group.list-group-flush
    .card-footer
      = link_to "Cancel", user, class: 'btn btn-outline-secondary float-start' if user.persisted?
      = link_to "Cancel", admin_users_path, class: 'btn btn-outline-secondary float-start' if !user.persisted?
      = form.submit "Save", class: "btn btn-primary float-end" if user.persisted?
      = form.submit "Create", class: "btn btn-primary float-end" if !user.persisted?
