.navbar.admin-navbar.navbar-expand-lg.bg-primary{"data-bs-theme" => "dark"}
  .container-fluid
    %button.navbar-toggler{"aria-controls" => "navbar-admin-menu", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbar-admin-menu", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbar-admin-menu.collapse.navbar-collapse
      .navbar-brand
        Panga Portal Admin
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to "Users", admin_users_path, class: "nav-link"
        %li.nav-item
          = link_to "People", admin_people_path, class: "nav-link"
        %li.nav-item
          = link_to "Invitations", admin_invitations_path, class: "nav-link"
        %li.nav-item
          = link_to "Events", admin_events_path, class: "nav-link"
        %li.nav-item
          = link_to "Sessions", admin_event_sessions_path, class: "nav-link"
        %li.nav-item
          = link_to "Workshop Attendances", admin_workshop_attendances_path, class: "nav-link"
        %li.nav-item
          = link_to "Locations", admin_workshop_locations_path, class: "nav-link"
    .navbar-session
      - if current_user
        %span.navbar-text
          = current_user.short_name + ', '
        = link_to "logout", destroy_user_session_path, method: :delete
      - else
        = link_to "Login", new_user_session_path
