!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PangaPortal
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    =# stylesheet_link_tag "application", "data-turbo-track": "reload"
    =# javascript_include_tag "react_loader", "data-turbo-track": "reload", defer: true
    = vite_client_tag
    = vite_javascript_tag 'static_rails.js'
  %body
    = yield
